/* 25px
brand
  colors (dark -> light)
  red: af4448 -> e57373
  blue: 489be8
  green: 66bb6a
  black: 3b4148 (icon)-> rgba(0, 0, 0, 0.7/.8) (text)
  whitespace: #dadce0 -> f8f2ee, #fff
  borders: #dadce0
  alert = color + 10% alpha background
  text: rgba(0, 0, 0, 0.7) / rgba(0, 0, 0, 0.8) / #fff / colored
*/

/* start init */

* {
   margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.6;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.7);
  overflow-wrap: break-word;
  box-sizing: border-box;
}

img {
  width: 100%;
}

ul {
  margin-left: 30px;
}


h1 {
	font-size: 1.7em;
	font-weight: 700;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 25px;
}

h2 {
	font-size: 1.2em;
	font-weight: 700;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 25px;
}

p {
  margin-bottom: 25px; /*25px for paragraphs*/
}

b, i {
  font-family: inherit;
  color: inherit;
}

sup {
  font-size: .8em;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: underline;
}

header a {
  text-decoration: none;
}

hr {
  height: 1px;
  margin: 25px 0;
  border: 0;
  background-color: #dadce0;
}

/* custom */

.label {
  font-weight: 900;
  text-transform: uppercase;
  font-size: .9em;
  color: rgba(0, 0, 0, 0.6);
  display: block;
}

.label.light {
  color: #fff;
}

.btn, p .btn { /* clickable */
  color: #489be8;
  border: 1px solid #489be8;
  background-color: #489be815;
  border-radius: 3px;
  padding: 8px 18px;
  display: inline-block;
  text-align: center;
  font-weight: 700;
}

.btn.alert { /* not clickable */
  color: #af4448;
  border: 1px solid #af4448;
  background-color: #af444815;
  display: block;;
}

.btn.good { /* not clickable */
  color: #66bb6a;
  border: 1px solid #66bb6a;
  background-color: #66bb6a15;
}

.icon {
  vertical-align: top;
  padding-right: 5px;
}

.icon.logo {
  vertical-align: middle;
  margin-bottom: 4px;
}

/* start the page */

body {
  background-color: #f8f2ee;
}

header {
  background-color: #e57373;
  height: 70px;
  line-height: 70px;
  padding: 0 25px;
}

.headerTitle {
  font-family: "Roboto Mono", monospace;
  color: #fff;
  height: 70px;
  line-height: 70px;
}

nav {
  float: right;
  height: 70px;
  line-height: 70px;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 25px;
  margin-left: 25px;
}

.navA {
  font-weight: 900;
  text-transform: uppercase;
  height: 70px;
  line-height: 70px;
  color: #fff;
  font-size: .9em;
}

/* lower header bit - choose country */
.choose {
  background-color: #af4448;
  padding: 50px 25px;
  text-align: center;
}

.cSearch {
  display: inline-grid;
  grid-template-columns: 1fr auto;
  width: auto;
  background-color: #fff;
  border-radius: 3px;
  align-items: center;
  padding: 10px 25px;
  margin: 0 auto;
  grid-gap: 15px;
}

.search {
  font-size: 1.3em;
  display: block;
  background-color: inherit;
  width: 100%;
}

.sIcon {
  text-align: right;
  width: 100%;
  vertical-align: bottom;
  background-color: #3b4148;
  color: #fff;
  border-radius: 50%;
  padding: 5px;
}

.sIcon:hover {
  cursor: pointer;
}

/* content */

main {
  padding: 50px 25px;
  max-width: 800px;
  margin: 0 auto;
}

.cols {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 25px;
  align-items: baseline;
}

.dateIn {
  background-color: #489be8;
  border-radius: 3px;
  padding: 8px 18px;
  color: #fff;
  font-weight: 700;
}

@media (min-width: 650px) {
  header {
    padding: 0 50px;
  }
  main, .choose {
    padding: 50px;
  }
  .cols.cols2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .cols.cols3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(min-width: 900px) {
  .choose {
    padding: 65px;
  }
}
